<div class="container">
<ng-progress></ng-progress>
<div class="jumbotron">
<div class="container-fluid">
  <form  action="">
    <div class="form-group">
      <input type="text" id="search" placeholder="search username or reponame" [(ngModel)]='searchItem' name="searchItem" (keyup)='searchIt()'>
      <button type="submit" class="btn btn-success btn-md" id='button'>SEARCH</button>
    </div>

  </form>

</div>
</div>

<!-- display repos -->
<div class="card-deck">
  <div class="card-title">
    <h4>REPOSITORIES</h4>
  </div><br><br>
  <div class="card-body" >

        <div class="row" *ngFor="let repo of repos">
          <div class="col-md-4">
            <ul>
              <li>
            <h6>{{repo.name}}</h6>
          </li>
        </ul>
          </div>
          <div class="col-md-7">
            <p *ngIf='repo.description'>{{repo.description}}</p>
          </div>
          <div class="col-md-1">
            <button class="btn btn-secondary btn-sm"><a class="ttw" target='_blank' href="{{repo.html_url}}">view on github</a></button>
          </div>

        </div>

  </div>
</div>


</div>
