.container{
  background-color: #E5DDD5;
}
#search{
  float: left;
   width: 60%;
   padding: 10px;
   background: #2196F3;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer
}
#button{
  float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

}
